.deckcontainer {
    margin: 5rem;

}

.deckslist {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 5px ridge navy;
    background-color: rgb(255, 255, 181);

}


.deckdescription {
    margin-top: 1rem;
    font-style: italic;

}

.ul {
    display: flex;
    flex-wrap: wrap;
}
